@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap');

/* font-family: 'Nunito', sans-serif; */

.abt_P{
    font-family: 'Nunito', sans-serif;
}
.flex.text-center.border-b button {
    color: #8F00FF;
    letter-spacing: 2px;
    font-size: 1.2rem;
    
}