@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap');

/* fontFamily: 'Nunito', sans-serif; */

.abt_P{
    /* fontFamily: 'Nunito', sans-serif; */
}
.flex.text-center.border-b button {
    color: #8F00FF;
    letter-spacing: 0px;
    fontSize: 1.2rem;
    
}
@media screen and (min-width: 768px) {
    .flex.text-center.border-b button {
        letter-spacing: 2px;
    }
  }