/* span.text-body-4.font-normal.text-metal-600.hover\:text-metal-800.transition-colors.duration-300 {
    color: white;
}
.card {
    backdrop-filter: blur(1px) saturate(180%);
    -webkit-backdrop-filter: blur(1px) saturate(180%);
    background-color: rgba(0, 0, 0, 0.81);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
} */

nav.bg-white.px-2.py-2\.5.dark\:border-gray-700.dark\:bg-gray-800.sm\:px-4.rounded.flex.justify-center {
    background: transparent;
}
/* span.text-body-4.font-normal.text-metal-600.hover\:text-metal-800.transition-colors.duration-300 {
    color: white;
    font-size: 1.5rem;
} */